<aui-navigation [attr.data-desktop-only]="desktopOnly ? '' : null" [attr.data-mobile-only]="mobileOnly ? '' : null">
  <!-- Categories menu is auto-inserted here -->
  <!-- TODO: this needs to come from code -->
  <aui-navigation-menu data-name="yourChoice">
    <aui-navigation-item data-name="Outlet theme" data-theme="Outlet" />
    <aui-navigation-item data-name="Caps" data-category="Apparel & Accessories|Head gear|Caps" />
    <aui-navigation-item data-name="Facebook" data-link="https://www.facebook.com" />
  </aui-navigation-menu>
</aui-navigation>
