<div class="row mt-4">
  <div class="col-md-12">
    <ish-csv-import
      [subtitleKey]="'quickorder.page.csv.subtitle'"
      [sampleTextKey]="'csv.file.sample' | translate : { '0': 'assets/sample-data/quickorder.csv' }"
      [expectedHeaders]="quickOrderHeaders"
      (csvParsed)="handleCsvImport($event)"
    />
    <div class="mt-3">
      <button type="button" class="btn btn-primary" (click)="addCsvToCart()" [disabled]="isCsvDisabled">
        {{ 'quickorder.page.add.cart' | translate }}
      </button>
      <button type="button" class="btn btn-link" (click)="resetCsvProductArray()">
        {{ 'csv.reset.button.label' | translate }}
      </button>
    </div>
  </div>
</div>

<!-- [attr.aria-label]="'quickorder.page.csv.form.label' | translate" -->
