.success-text {
  color: #28a745;
}

.error-text {
  color: #dc3545;
}

.inline-data-wrapper {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
}

.inline-data-wrapper > span:first-child {
  margin-left: 5px;
  white-space: nowrap;
  vertical-align: middle;
}
