<h1>{{ 'account.costcenter.import.csv.summary.title' | translate }}</h1>
<p>{{ 'account.costcenter.import.csv.summary.info' | translate }}</p>

<div class="loading-container">
  <ng-container *ngIf="importResults$ | async as costCenters">
    <ng-container *ngIf="importedCostCenters.length > 0; else emptyList">
      <table
        cdk-table
        [dataSource]="importedCostCenters"
        class="table table-lg mobile-optimized"
        data-testing-id="costCenter-list"
      >
        <!-- Cost Center Id -->
        <ng-container cdkColumnDef="costCenterId">
          <th cdk-header-cell *cdkHeaderCellDef data-testing-id="th-costCenter-id">
            {{ 'account.costcenter.list.header.no' | translate }}
          </th>
          <td
            cdk-cell
            *cdkCellDef="let importedCostCenter"
            [attr.data-label]="'account.costcenter.list.header.no' | translate"
            class="text-nowrap"
          >
            {{ importedCostCenter.costCenter.costCenterId }}
            <span *ngIf="!importedCostCenter.costCenter.active" class="input-help">
              {{ 'account.costCenter.status.inactive' | translate }}
            </span>
          </td>
        </ng-container>

        <!-- Cost Center Name -->
        <ng-container cdkColumnDef="costCenterName">
          <th cdk-header-cell *cdkHeaderCellDef data-testing-id="th-costCenter-name">
            {{ 'account.costcenter.list.header.name' | translate }}
          </th>
          <td
            cdk-cell
            *cdkCellDef="let importedCostCenter"
            [attr.data-label]="'account.costcenter.list.header.name' | translate"
          >
            {{ importedCostCenter.costCenter.name }}
          </td>
        </ng-container>

        <!-- Cost Center Manager -->
        <ng-container cdkColumnDef="costCenterManager">
          <th cdk-header-cell *cdkHeaderCellDef data-testing-id="th-costCenter-manager">
            {{ 'account.costcenter.list.header.manager' | translate }}
          </th>
          <td
            cdk-cell
            *cdkCellDef="let importedCostCenter"
            [attr.data-label]="'account.costcenter.list.header.manager' | translate"
          >
            {{ importedCostCenter.costCenter.costCenterOwner.login }}
          </td>
        </ng-container>

        <!-- Cost Center Budget -->
        <ng-container cdkColumnDef="costCenterBudget">
          <th cdk-header-cell *cdkHeaderCellDef data-testing-id="th-costCenter-budget">
            {{ 'account.costcenter.list.header.budgetspent' | translate }}
          </th>
          <td
            cdk-cell
            *cdkCellDef="let importedCostCenter"
            [attr.data-label]="'account.costcenter.list.header.budgetspent' | translate"
            class="text-nowrap"
          >
            {{ importedCostCenter.costCenter.budget.value }}
            {{ importedCostCenter.costCenter.budget.currency }}
            ({{ importedCostCenter.costCenter.budgetPeriod }})
          </td>
        </ng-container>

        <!-- Status of creation request -->
        <ng-container cdkColumnDef="status">
          <th cdk-header-cell *cdkHeaderCellDef data-testing-id="th-costCenter-budget">
            {{ 'account.costcenter.list.header.status' | translate }}
          </th>
          <td
            cdk-cell
            *cdkCellDef="let importedCostCenter"
            [attr.data-label]="'account.costcenter.list.header.status' | translate"
          >
            <span [ngClass]="importedCostCenter.status === 'Created successfully' ? 'text-success' : 'text-error'">
              {{ importedCostCenter.status }}
            </span>
          </td>
        </ng-container>

        <!-- Header and Row Declarations -->
        <tr cdk-header-row *cdkHeaderRowDef="columnsToDisplay"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: columnsToDisplay"></tr>
      </table>
    </ng-container>

    <!-- Empty List -->
    <ng-template #emptyList>
      <p>No cost centers available.</p>
    </ng-template>
  </ng-container>

  <a [routerLink]="['/account/organization/cost-centers']">Back to cost centers</a>

  <ish-loading *ngIf="loading$" />
</div>
