<div class="loading-container">
  <h1 class="pr-2">
    {{ 'account.costcenter.import.csv.summary.title' | translate }}
  </h1>
  <p>{{ 'account.costcenter.import.csv.summary.info' | translate }}</p>

  <ng-container *ngIf="importResults$ | async as costCenters">
    <ng-container *ngIf="importedCostCenters.length > 0; else emptyList">
      <table
        cdk-table
        [dataSource]="importedCostCenters"
        class="table table-lg mobile-optimized"
        data-testing-id="costCenter-list"
      >
        <!-- Cost Center Id -->
        <ng-container cdkColumnDef="costCenterId">
          <th cdk-header-cell *cdkHeaderCellDef data-testing-id="th-costCenter-id">
            {{ 'account.costcenter.list.header.no' | translate }}
          </th>
          <td
            cdk-cell
            *cdkCellDef="let importedCostCenter"
            [attr.data-label]="'account.costcenter.list.header.no' | translate"
          >
            <span class="inline-data-wrapper">
              <span>{{ importedCostCenter.costCenter.costCenterId }}</span>
              <span *ngIf="importedCostCenter.costCenter.active === false" class="input-help">
                {{ 'account.costCenter.status.inactive' | translate }}
              </span>
            </span>
          </td>
        </ng-container>

        <!-- Cost Center Name -->
        <ng-container cdkColumnDef="costCenterName">
          <th cdk-header-cell *cdkHeaderCellDef data-testing-id="th-costCenter-name">
            {{ 'account.costcenter.list.header.name' | translate }}
          </th>
          <td
            cdk-cell
            *cdkCellDef="let importedCostCenter"
            [attr.data-label]="'account.costcenter.list.header.name' | translate"
          >
            {{ importedCostCenter.costCenter.name }}
          </td>
        </ng-container>

        <!-- Cost Center Manager -->
        <ng-container cdkColumnDef="costCenterManager">
          <th cdk-header-cell *cdkHeaderCellDef data-testing-id="th-costCenter-manager">
            {{ 'account.costcenter.list.header.manager' | translate }}
          </th>
          <td
            cdk-cell
            *cdkCellDef="let importedCostCenter"
            [attr.data-label]="'account.costcenter.list.header.manager' | translate"
          >
            {{ importedCostCenter.costCenter.costCenterOwner.login }}
          </td>
        </ng-container>

        <!-- Cost Center Budget -->
        <ng-container cdkColumnDef="costCenterBudget">
          <th cdk-header-cell *cdkHeaderCellDef data-testing-id="th-costCenter-budget">
            {{ 'account.costcenter.list.header.budgetspent' | translate }}
          </th>
          <td
            cdk-cell
            *cdkCellDef="let importedCostCenter"
            [attr.data-label]="'account.costcenter.list.header.budgetspent' | translate"
          >
            <span class="inline-data-wrapper">
              <span
                >{{ importedCostCenter.costCenter.budget.value }}
                {{ importedCostCenter.costCenter.budget.currency }}</span
              >
              <span class="input-help"> ({{ importedCostCenter.costCenter.budgetPeriod }}) </span>
            </span>
          </td>
        </ng-container>

        <!-- Status of creation request -->
        <ng-container cdkColumnDef="status">
          <th cdk-header-cell *cdkHeaderCellDef data-testing-id="th-costCenter-budget">
            {{ 'account.costcenter.list.header.status' | translate }}
          </th>
          <td
            cdk-cell
            *cdkCellDef="let importedCostCenter"
            [attr.data-label]="'account.costcenter.list.header.status' | translate"
          >
            <span
              [ngClass]="{
                'success-text': importedCostCenter.status === 'Created successfully',
                'error-text': importedCostCenter.status !== 'Created successfully',
              }"
            >
              {{ importedCostCenter.status }}
            </span>
          </td>
        </ng-container>

        <!-- Header and Row Declarations -->
        <tr cdk-header-row *cdkHeaderRowDef="columnsToDisplay"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: columnsToDisplay"></tr>
      </table>
    </ng-container>

    <!-- Empty List -->
    <ng-template #emptyList>
      <p>No cost centers available.</p>
    </ng-template>
  </ng-container>

  <a [routerLink]="['/account/organization/cost-centers']">Back to cost centers</a>

  <ish-loading *ngIf="loading$" />
</div>
