<!-- Note: attr. is needed since Angular does not treat these custom elements are regular Angular elements -->
<aui-init
  [attr.data-app-id]="appId"
  [attr.data-api-key]="apiKey"
  [attr.data-base-search-url]="baseSearchUrl"
  [attr.data-fallback-url]="fallbackUrl"
  [attr.data-url-rewrite-enabled]="urlRewriteEnabled ? '' : null"
  [attr.data-page-base-url]="pageBaseUrl"
  [attr.data-raw-mts-url]="rawMtsUrl"
  [attr.data-raw-mto-url]="rawMtoUrl"
  [attr.data-category-base-url]="categoryBaseUrl"
  [attr.data-raw-category-url]="rawCategoryUrl"
  [attr.data-category-urls-disabled]="categoryUrlsDisabled ? '' : null"
  [attr.data-currency-code]="currencyCode"
/>
